* {
    background-color: black;
    color:turquoise;
    font-size: medium;
}
.navbar {
    background-color: skyblue;
    overflow:hidden;
    width: 100%;
    position: fixed;
}
.navbar a{
    float: left;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.welcome {
    margin-top: 80px;
    text-align: center;
    padding-top: 8%;
}
.card1 {
    box-shadow: 0 8px 16px 0;
    width: 30%;
    text-align: center;
}
.card2 {
    box-shadow: 0 8px 16px 0;
    width: 30%;
    text-align: center;
}
.card3 {
    box-shadow: 0 8px 16px 0;
    width: 30%;
    text-align: center;
}
.cards {
    display: flex;
    width: 90%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    justify-content: space-between;   
}
h2 {
    color: yellow;
}
footer {
    background-color: skyblue;
    height: max-content;
}
.card4 {
    box-shadow: 0 8px 16px 0;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5%;
    background-color:inherit;
}